* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Red Hat Display', sans-serif;
}

body {
    font-family: 'Red Hat Display', sans-serif;
}

.city {
    font-weight: 400;
    font-size: 16px;
    color: #100E0E;
    margin-right: 8px;
    margin-top: 20px;
}

.moscow {
    font-weight: 400;
    font-size: 16px;
    color: #0071E4;
    margin-top: 20px;
}

.vector {
    width: 16.8px;
    height: 9.6px;
    margin-top: 28px;
    margin-left: 7.6px;
}

.icn {
    margin-top: 15px;
    width: 32px;
    height: 32px;
    margin-left: 8px;
}

.inc {
    margin-right: 0px;
}

.nav1 {
    background: #F9F9F9;
}

.nav2 {
    padding-top: 33px;
    padding-bottom: 40px;
    height: 94px;
}

.as1 {
    position: relative;
    bottom: 6px;
}

.as2 {
    font-weight: 400;
    font-size: 18px;
    color: #100E0E;
    text-decoration: none;
    position: relative;
    left: 40px;
}

.as3 {
    height: 24px;
    background: #FDEFBF;
    border-radius: 8px;
    padding: 1px 18px 2px 18px;
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
    color: #100E0E;
    position: relative;
    left: -5px;
    top: 2px;
}

.fire {
    position: relative;
    bottom: 2px;
    right: 10px;
}

.as4 {
    font-weight: 400;
    font-size: 18px;
    color: #0071E4;
    border-bottom: solid 2px #0071E4;
    text-decoration: none;
    position: relative;
    left: 20px;
    top: 1px;
}

.as5 {
    font-weight: 400;
    font-size: 18px;
    color: #100E0E;
    text-decoration: none;
    position: relative;
    left: 10px;
    top: 2px;
}

.as6 {
    font-weight: 400;
    font-size: 18px;
    color: #100E0E;
    text-decoration: none;
    position: relative;
    left: 30px;
    top: 2px;
}

.as7 {
    font-weight: 400;
    font-size: 18px;
    color: #100E0E;
    text-decoration: none;
    position: relative;
    right: 55px;
    top: 2px;
}

.as8 {
    font-weight: 400;
    font-size: 18px;
    color: #100E0E;
    text-decoration: none;
    position: relative;
    right: 30px;
    top: 2px;
}

.as9 {
    font-weight: 400;
    font-size: 18px;
    color: #100E0E;
    text-decoration: none;
    position: relative;
    right: 105px;
    top: 2px;
}

.as10 {
    text-decoration: none;
}

.num {
    font-weight: 400;
    font-size: 20px;
    color: #100E0E;
}

.vam {
    font-weight: 400;
    font-size: 16px;
    color: #0071E4;
    position: relative;
    bottom: 15px;
    left: 10px;
}

.imgh {
    width: 15.36px;
    height: 19.76px;
    position: relative;
    left: 20px;
    bottom: 20px;
}

.txts {
    position: relative;
    bottom: 25px;
    left: 35px;
}

p {
    margin: 0;
    padding: 0;
}

.nav3 {
    height: 100px;
}

.catalog {
    padding: 16px 16px 16px 52px;
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
    background: #0071E4;
    border-radius: 16px;
    border: none;
    margin-top: 22px;
}

.rg {
    width: 32px;
    height: 32px;
    position: relative;
    right: 210px;
    bottom: 1px;
}

.poy {
    font-weight: 400;
    font-size: 20px;
    color: #B7B7B7;
    width: 594px;
    height: 56px;
    background: #FFFFFF;
    border: 1px solid #B7B7B7;
    border-radius: 8px;
    padding: 16px 56px 16px 56px;
    position: relative;
    top: 24px;
    right: 44px;
}

.twt {
    margin-top: 22px;
}

.loupe {
    width: 24px;
    height: 24px;
    position: relative;
    bottom: 18px;
    right: 20px;
}

.heart {
    width: 33.33px;
    height: 28.61px;
    position: relative;
    top: 36px;
    right: -60px;
}

.oo {
    width: 34.25px;
    height: 30.98px;
    position: relative;
    top: 36px;
    left: 90px;
}

.savat {
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
    background: #52D116;
    border-radius: 16px;
    border: none;
    padding: 16px 69px 16px 59px;
    margin-top: 22px;
}

.savat_img {
    width: 24px;
    height: 24px;
    position: relative;
    right: -90px;
    bottom: -41px;
}

.green_one {
    width: 34px;
    height: 32px;
    position: relative;
    right: -185px;
    bottom: -37px;
}

.gg {
    margin-bottom: 22px;
}

.nav4 {
    margin-top: 22px;
}

.iphone_txt {
    font-weight: 400;
    font-size: 20px;
    color: #100E0E;
    position: relative;
    top: 10px;
}

.iph {
    width: 280px;
    height: 64px;
    background: url(./img/banner.png);
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    position: relative;
    bottom: 8px;
}

.iPhone_size {
    width: 48px;
    height: 48px;
}

.two {
    margin-left: 8px;
}

.three {
    margin-left: 8px;
}

.four {
    margin-left: 8px;
}

.five {
    margin-left: 8px;
    color: #0071E4;
}

.six {
    margin-left: 8px;
}

.wwe1 {
    position: relative;
}

.wwe2 {
    position: relative;
    left: 20px;
}

.wwe3 {
    position: relative;
    left: 20px;
}

.wwe4 {
    position: relative;
    right: 95px;
}

.wwe5 {
    position: relative;
    right: 80px;
}

.wwe6 {
    position: relative;
    right: 45px;
}

.sect1 {
    margin-top: 10px;
    background: #D0EAFC;
    padding: 99px 269px 0 269px;
    margin-bottom: 24px;
}

.ot137 {
    font-weight: 400;
    color: #1E3240;
}

.ot1 {
    font-size: 32px;
    position: relative;
    top: 18px;
    right: 16px;
}

.ot2 {
    font-size: 48px;
}

.txtrs {
    position: relative;
    right: 45px;
}

.pbor {
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
    background: #0071E4;
    border-radius: 8px;
    border: none;
    padding: 18.5px 39.5px;
    position: relative;
    right: 57px;
}

.orig {
    position: relative;
    right: 10px;
}

.banner_heading {
    position: relative;
    right: 65px;
}

.mls {
    position: relative;
    left: 55px;
    top: 40px;
}

.купить_iPhone_в_Москве {
    font-weight: 500;
    font-size: 48px;
    color: #100E0E;
    margin-bottom: 24px;
}

.mmo {
    margin-bottom: 24px;
    font-weight: 500;
    font-size: 24px;
    color: #0071E4;
}

.fourteen {
    font-weight: 500;
    font-size: 16px;
    color: #0071E4;
}

.XS {
    font-weight: 500;
    font-size: 24px;
    text-align: center;
    color: #100E0E;
}

.cardw {
    background: #FFFFFF;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
    border-radius: 16px;
    margin-bottom: 24px;
    width: 282px;
    height: 611px;
}

.cardf {
    margin-top: 18px;
}

.prgrf {
    margin-top: 2px;
    padding-left: 20px;
}

.icons1 {
    margin-top: 1px;
}

.ect {
    margin-left: 5px;
    margin-right: 14px;
    font-weight: 500;
    font-size: 16px;
    color: #706E6E;
}

.one_year {
    margin-bottom: 0;
    font-weight: 500;
    font-size: 16px;
    color: #706E6E;
}

.thseven {
    margin-right: 16px;
    font-weight: 400;
    font-size: 20px;
    text-decoration-line: line-through;
    color: #878787;
    margin-bottom: 0;
}

.money {
    margin-bottom: 0;
    margin-top: -5px;
    font-weight: 500;
    font-size: 32px;
    color: #100E0E;
}

.btner {
    margin-top: 16px;
    margin-bottom: 8px;
    width: 266px;
    height: 56px;
    background: #6FD91C;
    border-radius: 8px;
    border: none;
    font-weight: 500;
    font-size: 18px;
    color: #FFFFFF;
}

.iphone_img_sr {
    text-align: center;
}

.xochu {
    margin-left: 8px;
    font-weight: 500;
    font-size: 16px;
    color: #0071E4;
}

.kupit {
    font-weight: 500;
    font-size: 16px;
    text-align: right;
    color: #706E6E;
}

.jhfhj {
    width: 266px;
}

.stars {
    margin-right: 55px;
}

.str {
    width: 20px;
    height: 20px;
}

.mb {
    margin-bottom: 16px;
}

#btni {
    background: #0071E4;
}

/* ---------------------------------------------my section---------------------- */
.big_text {
    margin-top: 72px;
    font-size: Bold;
    font-size: 32px;
    color: #100E0E;
    font-weight: 700;
    margin-bottom: 22px;
}

.verybig {
    font-size: 16px;
    color: #585656;
    margin-bottom: 32px;
}

.hard {
    background-color: #000000;
    margin-bottom: 32px;
}

.pro {
    margin-top: 84px;
    margin-bottom: 16px;
    font-size: 56px;
    color: #FFFFFF;
    font-weight: 900;
}

.propas {
    font-size: Medium;
    font-size: 24px;
    color: #FFFFFF;
    margin-bottom: 24px;
}

.btnx {
    border-radius: 8px;
    background-color: #0071E4;
    width: 160px;
    height: 56px;
    color: #FFFFFF;
}

#bigi {
    margin-top: 0;
}

#vee {
    margin-bottom: 64px;
}

/*------------------------------------------------ my section end----------------------------------------- */
/* ----------------------------------------------- section4 start------------------------------------------ */
.nashi {
    font-size: 32px;
    color: #100E0E;
    font-weight: 600;
    margin-top: 80px;
    margin-bottom: 24px;
    text-align: center;
}

.carp {
    padding-top: 24px;
    width: 228px;
    height: 525px;
    text-align: center;
    background: linear-gradient(180.04deg, #FE94A6 0.04%, #F2F2F2 65.84%);
    border-radius: 16px;
}

.aksiya {
    font-size: 23px;
    color: #100E0E;
    font-weight: 600;
    margin-top: 16px;
    margin-bottom: 16px;
}

.carp_p {
    font-size: 14px;
    color: #585656;
    margin-bottom: 99px;
}

.carp-but {
    border-radius: 8px;
    border: 1px solid #0071E4;
    width: 212px;
    height: 56px;
    background: transparent;
    color: #0071E4;
}

.ml-col {
    margin-left: 40px;
}

.uff {
    height: 188px;
    margin-bottom: 50px;
}

#cari {
    background: linear-gradient(180.04deg, #E685FF 0.04%, #F2F2F2 65.84%);
    border-radius: 16px;
}

#cii {
    background: linear-gradient(180.04deg, #7DE9FF 0.04%, #F2F2F2 65.84%);
    border-radius: 16px;
}

#ble {
    background: linear-gradient(180.04deg, #FFE685 0.04%, #F7F7F7 65.84%);
    border-radius: 16px;
}

.caro {
    background: linear-gradient(180.04deg, #ADFFC1 0.04%, #F2F2F2 65.84%), #F2F2F2;
    border-radius: 16px;
}

/* -------------------------------------------section4 start----------------------------------------- */
.section4 {
    margin-top: 40px;
    padding-top: 55px;
    background: #F9F9F9;
    padding-bottom: 55px;
}

.pod {
    font-weight: 700;
    color: #100E0E;
    margin-bottom: 8px;
}

.podi {
    margin-bottom: 25px;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #585656;
}

.formi {
    background: linear-gradient(90.34deg, #F7355D 0.3%, #9747FF 101.33%);
    border-radius: 16px;
    border: none;
    width: 486px;
    height: 196px;
    color: white;
}

.ckidka {
    margin-left: 40px;
    padding-top: 16px;
    margin-bottom: 4px;
}

.na {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    margin-left: 40px;
    margin-bottom: 16px;
}

.inpi {
    width: 246px;
    height: 56px;
    background: #FFFFFF;
    border: 1px solid #DBDBDB;
    border-radius: 8px;
    margin-left: 32px;
    padding-left: 24px;
}

.sinbat {
    margin-left: 16px;
    width: 160px;
    height: 56px;
    background: #E7E7E7;
    border-radius: 8px;
    border: none;
}

/* -------------------------------------------footer start-------------------------------- */
footer {
    margin-top: 85px;
}

.yil {
    font-weight: 400;
    font-size: 16px;
    color: #878787;
    margin-top: 27px;
    margin-bottom: 8px;
}

.yili {
    font-weight: 400;
    font-size: 16px;
    color: #878787;
    margin-bottom: 24px;
}

.yilix {
    font-weight: 400;
    font-size: 14px;
    color: #B7B7B7;
}

.qalin {
    font-weight: 500;
    font-size: 16px;
    color: #100E0E;
    margin-bottom: 16px;
}

.nomer {
    font-weight: 500;
    font-size: 40px;
    color: #100E0E;
    margin-bottom: 4px;
}

.soat {
    font-weight: 400;
    font-size: 14px;
    color: #706E6E;
    margin-bottom: 11px;
}

.logos {
    display: flex;
}

.zak {
    font-weight: 500;
    font-size: 20px;
    color: #0071E4;
    margin-right: 24px;
}

.telegram {
    width: 32px;
    height: 32px;
    margin-right: 8px;
}

.moskva {
    margin-top: 40px;
    font-weight: 600;
    font-size: 16px;
    color: #100E0E;
    margin-bottom: 16px;
}

.mas {
    margin-top: 0;
}

.mno {
    margin-top: 10px;
    margin-right: 35px;
}

.lol42 {
    width: 30px;
}

.tol42 {
    margin-left: 40px;
    width: 25px;
}

.as17 {
    margin-top: 6px;
}

.navbar-toggler {
    margin-top: 10px;
}

.pboy {
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
    background: #0071E4;
    border-radius: 8px;
    border: none;
    width: 160px;
    height: 40px;
}

/*-------------------------------------------- Responsive------------------------------------ */
/* 992 dan 1199 gacha */
@media (max-width: 1199px) {}

/* 768 dan 991 gacha */
@media (max-width: 991px) {}

/* 576 dan 767 gacha */
@media (max-width: 767px) {}

/* 0 dan 575 gacha */
@media (max-width: 575px) {
    .navbar {
        width: 100%;
    }

    .sect1 {
        display: none;
    }

    .sect12 {
        background: #D0EAFC;
    }

    .ot13 {
        font-weight: 400;
        font-size: 20px;
        color: #1E3240;
        padding-top: 10px;
        padding-right: 10px;
    }

    .txtrs {
        margin-left: 70px;
    }

    .ot23 {
        font-weight: 400;
        font-size: 32px;
        color: #1E3240;
    }

    .bgm {
        padding-top: 16px;
    }

    .pboy {
        font-weight: 500;
        font-size: 16px;
        color: #FFFFFF;
        background: #0071E4;
        border-radius: 8px;
        border: none;
        width: 160px;
        height: 40px;
        margin-bottom: 16px;
    }

    .orig {
        position: relative;
        right: 22px;
    }

    .navbar-toggler {
        margin-left: -40px;
        margin-right: 0;
    }

    .купить_iPhone_в_Москве {
        font-weight: 500;
        font-size: 24px;
        color: #100E0E;
        margin-bottom: 24px;
        margin-top: 10px;
    }

    .mmo {
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #0071E4;
        margin-bottom: 0;
    }

    .cardw {
        transform: scale(0.9);
        margin-bottom: -20px;
    }

    .big_text {
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        color: #100E0E;
        margin-top: 30px;
    }

    .prow {
        margin-top: 24px;
        font-weight: 700;
        font-size: 20px;
        padding-right: 10px;
        color: #FFFFFF;
    }

    .propasw {
        font-weight: 500;
        font-size: 16px;
        padding-right: 8px;
        color: #FFFFFF;
    }

    .btnxw {
        width: 160px;
        height: 40px;
        background: #0071E4;
        border-radius: 8px;
        border: none;
        font-weight: 500;
        font-size: 16px;
        padding-right: 10px;
        color: #FFFFFF;
        margin-bottom: 24px;
    }

    .nashi {
        font-size: 24px;
        color: #100E0E;
        font-weight: 700;
        margin-top: 50px;
        margin-bottom: 24px;
        text-align: center;
    }

    .aksiya233 {
        font-weight: 700;
        font-size: 20px;
        color: #100E0E;
        margin-top: 5px;
        margin-left: 8px;
        position: relative;
        bottom: 10px;
    }

    .carp1 {
        width: 288px;
        height: 135px;
        padding-top: 24px;
        background: #F9F9F9;
        border-radius: 16px;
        margin-bottom: 15px;
    }

    .carp2 {
        width: 288px;
        height: 180px;
        padding-top: 24px;
        background: #F9F9F9;
        border-radius: 16px;
        margin-bottom: 15px;
    }

    .carp3 {
        width: 288px;
        height: 135px;
        padding-top: 24px;
        background: #F9F9F9;
        border-radius: 16px;
        margin-bottom: 15px;
    }

    .carp4 {
        width: 288px;
        height: 135px;
        padding-top: 24px;
        background: #F9F9F9;
        border-radius: 16px;
        margin-bottom: 15px;
    }

    .carp_hg {
        font-weight: 400;
        font-size: 16px;
        color: #585656;
        position: relative;
        bottom: 15px;
        margin-left: 16px;
    }

    .kitkat {
        padding-bottom: 10px;
        margin-left: 16px;
        position: relative;
        bottom: 10px;
    }

    .gol_ur1 {
        font-weight: 700;
        font-size: 24px;
        color: #100E0E;
    }

    .gol_ur2 {
        font-weight: 400;
        font-size: 16px;
        color: #585656;
    }

    .jojo {
        background: linear-gradient(90.34deg, #F7355D 0.3%, #9747FF 101.33%);
        border-radius: 8px;
        border: none;
        margin: auto;
    }

    .gol_ur3 {
        font-weight: 700;
        font-size: 16px;
        color: #FFFFFF;
        margin-left: 16px;
        margin-bottom: 0;
        padding-top: 8px;
    }

    .gol_ur4 {
        font-weight: 500;
        font-size: 14px;
        color: #FFFFFF;
        margin-left: 16px;
        padding-bottom: 8px;
    }

    .seven_number {
        width: 100%;
        height: 56px;
        background: #FFFFFF;
        border: 1px solid #DBDBDB;
        border-radius: 8px;
        padding-left: 24px;
        margin-bottom: 15px;
    }

    .подписаться {
        font-weight: 500;
        font-size: 16px;
        color: #585656;
        width: 100%;
        height: 56px;
        background: #E7E7E7;
        border-radius: 8px;
        padding: 16px 87px 22px 87px;
        border: none;
    }
    .banner_heading {
        position: relative;
        right: 7px;
    }
    .ozz {
        display: flex;
        margin-left: 40px;
    }

    .yil {
        margin-left: 90px;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #878787;
    }

    .yilix {
        text-align: center;
        font-weight: 400;
        font-size: 11px;
        line-height: 13px;
        color: #B7B7B7;
    }

    .zaybal {
        width: 26px;
        height: 30px;
        margin-top: 25px;
        position: absolute;
        left: 105px;
    }

    .qalin {
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #100E0E;
    }

    .nomer {
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        color: #100E0E;
    }

    .soat {
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        color: #706E6E;
        margin-bottom: 0;
    }

    .moskva {
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #100E0E;
        margin-top: 8px;
        margin-bottom: 0;
    }

    .footer2 {
        margin: 0;
        background: #FFFFFF;
        box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.05);
    }

    .ca {
        padding-top: 5px;
        text-align: center;
    }

    .katalog {
        font-weight: 400;
        font-size: 13px;
        line-height: 16px;
        color: #282626;
    }
    .va{
        color: #0071E4;
    }
    .mas{
        margin-bottom: 24px;
    }
}

/* -------------------------------------------------------------------------------------------------------------------------------- */